@use '../../sass/abstract/variables.scss' as *;
@use '../../sass/abstract/mixins.scss' as *;


.section {
  min-inline-size: 0;
  
  @include respond_to(min, m_screen) {
    margin-block-end: $margin_block_control--xsm;
  }

  &__title {
    margin-block-end: $margin_block_control--sm;

    @include respond_to(min, m_screen) {
      margin-block-end: $margin_block_control--lg;
    }
  }
}


.carousel {
  min-width: 0;
  $slide_size: $inline_size--lg;
  $slide-spacing: $padding_inline_control--sm;

  @include respond_to(min, m_screen) {
    $slide_size: $inline_size--xlg;
    $slide-spacing: $padding_inline_control--xxlg;
  }

  &__viewport {
    overflow: hidden;
  }


  &__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc($slide-spacing * -1);
  }


  &__item {
    flex: 0 0 $slide_size;
    min-width: 0;
    padding-inline-start: $slide-spacing;
  }
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(130px, 200px), 1fr));
  gap: $gap_inline_control--sm;

  @include respond_to(min, m_screen) {
    grid-template-columns: repeat(auto-fit, minmax(min(200px, 470px), 1fr));
    grid-column-gap: $gap_inline_control--lg_30;
    grid-row-gap: $gap_block_control--md;
  }
}