@use '../../sass/abstract/variables.scss' as *;
@use '../../sass/abstract/mixins.scss' as *;


.section {
  margin-bottom: $margin_block_control--xxlg;

  &__title {
    margin-bottom: $margin_block_control--sm;
  }
}


.carousel {
  $slide_size: $inline_size--lg;
  $slide-spacing: $padding_inline_control--sm;

  &__viewport {
    overflow: hidden;
  }


  &__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc($slide-spacing * -1);
  }


  &__item {
    flex: 0 0 $slide_size;
    min-width: 0;
    padding-inline-start: $slide-spacing;
  }
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(130px, 200px), 1fr));
  gap: $gap_inline_control--sm;
}