@use '../../../sass/abstract/variables' as *;
@use '../../../sass/abstract/mixins' as *;
@use '../../../sass/abstract/utils' as *;

.navbar {
    @extend %flex_center;
    justify-content: space-between;

    background-color: $background_color_blue--900;

    padding: $padding_block_control--sm $padding_inline_control--sm_special;


    &__logo {
        inline-size: 25px;
        block-size: 20px;

        @include respond_to(min, l_screen) {
            margin-block-end: $margin_block_control--xxxlg;
        }
    }


    &__links {
        @extend %flex_center;
        gap: $gap_inline_control--md;

        @include respond_to(min, l_screen) {
            flex-direction: column;
            gap: $gap_inline_control--xlg;

            margin-block-end: auto; //to push avatar image to the bottom limit of container
        }
    }


    &__link {
        inline-size: 16px;
        block-size: 16px;

        &:hover {
            .navbar__path {
                fill: $red;
            }
        }

        @include respond_to(min, m_screen) {
            inline-size: 20px;
            block-size: 20px;
        }
    }


    &__path {
        fill: $fill_blue--500;
        @include transition(fill, .4s, ease);

        &--active {
            fill: $fill_white;
        }
    }


    &__avatar {
        inline-size: 24px;
        block-size: 24px;

        outline: 1px solid $white;
        border-radius: $radius_pill_full;
    }
}